<header>
    <img src="assets/img/homer.jpg" alt="foto do homer roqueiro" width="130px" height="130px" loading="eager">
    <h1>Homer roqueiro</h1>
</header>
<aside>
    <div class="container">
        <p>Full-stack Angular| Java</p>
        <p>São Paulo</p>
        <p>Estou na área de desenvolvimento a cerca de 3 anos. Devido a isso resolvi abraçar a stack Java e Angular para
            desenvolver meus projetos de forma completa</p>
    </div>
    <nav>
        <ul>
            <li><a href="assets/pdf/cv.pdf" target="_blank" class="btn btn-primary">Download cv</a></li>
            <li><a href="https://www.linkedin.com/in/michael-alexandre-hion-dos-santos-1153a3157/" target="_blank"
                    class="btn btn-secondary">LinkedIn</a></li>
        </ul>
    </nav>
    <section>
        <figure>
            <img src="assets/icons/whatsapp.svg" alt="icone para contato do whatsapp" width="22px" height="22px" />
            <figcaption>
                <a href="https://api.whatsapp.com/send?phone=5511xxxxxxxxx&text=Me%20Chama"
                    target="_blank"><strong>Envie uma
                        mensagem</strong></a>
            </figcaption>
        </figure>
        <figure>
            <img src="assets/icons/mail.svg" alt="icone para contato de email" width="22px" height="22px" />
            <figcaption>
                <a href="mailto:email@gmail.com"><strong>Envie um email email&#64;gmail.com</strong></a>
            </figcaption>
        </figure>
    </section>
</aside>